<footer class="footer-20192 bg-body-tertiary mt-5">
    <div class="site-section">
      <div class="container">

        <div class="cta d-block d-md-flex align-items-center px-5 spacer mt-3">
          <div>
            <h2 class="mb-0">Looking to sell your collection?</h2>
            <h3 class="text-dark get-started">Send/email your list!</h3>
          </div>

          <div class="ml-auto">
            
            <a href="mailto:carlos@funkyrobot.ca" class="btn btn-dark rounded-2 py-3 px-5">Message</a>
          </div>
        </div>
        <div class="row">

          <div class="col-sm">
            <a href="#" class="footer-logo"></a>
            <p class="copyright">
              <small>&copy; FunkyRobot.ca 2023</small>
            </p>
          </div>
          <div class="col-sm">
            <h3>Comics</h3>
            <ul class="list-unstyled links">
              <li><a routerLink="dccomics">DC Comics</a></li>
              <li><a routerLink="marvelcomics">MARVEL</a></li>
              <li><a routerLink="imagecomics">Image</a></li>
              <li><a routerLink="darkhorse">Dark Horse</a></li>
              <li><a routerLink="othercomics">Other</a></li>
            </ul>
          </div>
          <div class="col-sm">
            <h3>Sort</h3>
            <ul class="list-unstyled links">
              <!-- <li><a routerLink="our-story">Our Story</a></li> -->
              <li><a routerLink="golden">Golden Age (Pre 1960)</a></li>
              <li><a routerLink="silver">Silver Age (1960 - 1979)</a></li>
              <li><a routerLink="bronze">Bronze Age (1980 - 1999)</a></li>
              <li><a routerLink="modern">Modern Age (2000 - Now)</a></li>
            </ul>
          </div>
          <div class="col-sm">
            <h3>Records</h3>
            <ul class="list-unstyled links">
              <li><a routerLink="vinyl">All Vinyl</a></li>
              <li><a routerLink="albums">Albums</a></li>
              <li><a routerLink="45s">45s</a></li>
              <li><a routerLink="search-display">Search Display</a></li>
            </ul>
          </div>
          
          <div class="col-md-3">
            <h3 class="text-center">Follow us</h3>
            <ul class="list-unstyled social spacer">
                <li><a href="https://github.com/FunkyRobot73" target="_blank"><i class="fa-brands fa-github socials"></i></a></li>
              <li><a href="https://twitter.com/funkyrobot73" target="_blank"><i class="fa-brands fa-twitter socials"></i></a></li>
              <li><a href="https://instagram.com/funkyrobot73" target="_blank"><i class="fa-brands fa-instagram socials"></i></a></li>
            </ul>
          </div>
          
        </div>
      </div>
    </div>
  </footer>