<footer class="footer-20192 bg-body-tertiary mt-5">
    <div class="site-section">
      <div class="container">

        <div class="cta d-block d-md-flex align-items-center px-5 spacer mt-3">
          <div>
            <h2 class="mb-0">Ready to be a Hero?</h2>
            <h3 class="text-dark get-started">Let's get started!</h3>
          </div>

          <div class="ml-auto">
            <a routerLink="/landing-page" class="btn btn-dark rounded-2 py-3 px-5">Apply Now</a>
          </div>
        </div>
        <div class="row">

          <div class="col-sm">
            <a href="#" class="footer-logo"></a>
            <p class="copyright">
              <small>&copy; SnowAngels.org 2023</small>
            </p>
          </div>
          <div class="col-sm">
            <h3>Customers</h3>
            <ul class="list-unstyled links">
              <li><a routerLink="angel">Our Angels</a></li>
              <li><a routerLink="hero">Our Heroes</a></li>
            </ul>
          </div>
          <div class="col-sm">
            <h3>Company</h3>
            <ul class="list-unstyled links">
              <li><a routerLink="our-story">Our Story</a></li>
              <li><a routerLink="team">Our Team</a></li>
              <li><a routerLink="our-story">Contact us</a></li>
            </ul>
          </div>
          <div class="col-sm">
            <h3>Join Today</h3>
            <ul class="list-unstyled links">
              <!-- <li><a routerLink="our-story">Our Story</a></li> -->
              <li><a routerLink="login">Login</a></li>
              <li><a routerLink="landing-page">Register</a></li>
              <li><a routerLink="blog">Blog</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <h3 class="text-center">Follow us</h3>
            <ul class="list-unstyled social spacer">
              <li><a href="https://discord.com/channels/1068328558415597628/1068334122252116099" target="_blank"><i class="icofont-brand-android-robot socials"></i></a></li>
              <li><a href="https://twitter.com/snowangels_org" target="_blank"><i class="icofont-twitter socials"></i></a></li>
              <li><a href="https://instagram.com/snowangels_org" target="_blank"><i class="icofont-instagram socials"></i></a></li>
            </ul>
          </div>
          
        </div>
      </div>
    </div>
  </footer>