
:host {
    display: block;
  }
  
  :host.is-first {
    border-top: 2px solid grey;
    padding-top: 20px;
  }
  
  :host.is-last {
    border-bottom: 2px solid grey;
    padding-top: 20px;
  }
  
  :host.is-even {
    background: lightgray;
  }
  
  :host.is-odd {
    background: lightcyan;
  }
  
  :host-context(.salmon-theme) .course-card {
    background: lightsalmon;
  }
  
  .course-card {
    max-width: 400px;
    margin-bottom: 40px;
    text-align: center;
    border-radius: 4px;
    padding: 0px 0;
    box-shadow: 0 1px 16px 0 rgba(0, 0, 0, .2), 0 2px 8px 0 rgba(0, 0, 0, .14), 0 4px 8px -1px rgba(0, 0, 0, .12);
  }
  
  .course-card .course-title {
    font-size: 27px;
    font-weight: bold;
  }
  
  .course-card .course-description {
    max-width: 300px;
    margin: 0 auto;
    margin-top: 15px;
    user-select: none;
  }
  
  .course-card .course-description input {
    font-size: 20px;
  }
  
  .course-card.beginner {
    background: lightsalmon;
  }
  
  /* Three image containers (use 25% for four, and 50% for two, etc) */
  .column {
    float: center;
    width: 20%;
    padding: 5px;
  }
  
  @media screen and (max-width:1280px) {
    .column {
      
      width:25%;
    }
  }
  
  @media screen and (max-width:1028px) {
    .column {
      
      width:33%;
    }
  }
  
  @media screen and (max-width:760px) {
    .column {
      
      width:50%;
    }
  }
  
  @media screen and (max-width:500px) {
  .column {
    
    width:100%;
  }
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .form-background{
    background-color: #6C63FF;
    padding-inline: 1rem;
    font-weight: bold;
    margin-bottom: .5em;
  }
  
  .rounder {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .short {
  font-weight: bolder;
  color: #6C63FF;
  }
  
  .money {
  font-weight: bolder;
  font-size:xx-large;
  }
  
  .height-div1 {
  height:200px;
  }
  
  .ebay {
    text-decoration: none;
    padding: 0.5rem;
    color: #000
  }
  
  .btn-ebay {
    text-decoration: none;
    border: .5px solid #333333;
  }
  