<div class="container  quote-div mb-2">
    <p class="container body-text col-lg-6">
      Swap2go.ca  - I've got a lot of comic books & stuff...
    </p><p>
    I've been buying comics since the early 1980s.  I don't remember the first comic book I had but I do remember some of the first I ever owned.  I had a few variety stores in the neighbourhood and they'd have a bunch on magazine racks and I remember buying a lot of DC Comics and esp. Justice League books.  I specifically remember the cover of #190 with Starro the Conquerer, Action Comics #488, Batman & the Outsiders #1 and Transformers #5.
    </p><p>
    I had a friend that collected Firestorm.  He had several of them and just kept them.  I guess that's when I started to treat them well and collect them too.  I remember having about 20 or 30 of them but one day I traded them for a Transformer toy called Blaster.  I might have gotten the short end of the stick there.
    </p>
    <p>
    At some point I stopped collecting but then I saw an article in the newspaper about Crisis on Infinite Earths.  DC Comics had killed off The Flash & Supergirl.  I was back in.
    </p>
    <p>
    I remember I once sold a big chunk of my collection when I was 18.  I've regretted doing that for a long time but I'm turning 50 this year and baby needs to go to college.  Eventually.
    </p>
  </div>
  
  <!-- Iterate Thru Angels Table -->
  
  