<app-navbar></app-navbar>


This is where the fun stuff happens

<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, similique beatae? Voluptas error, hic adipisci voluptatem dignissimos aut est quae deserunt vitae. Facilis numquam asperiores quam earum? Sunt, incidunt minima!
</p>

<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, similique beatae? Voluptas error, hic adipisci voluptatem dignissimos aut est quae deserunt vitae. Facilis numquam asperiores quam earum? Sunt, incidunt minima!
</p>

<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, similique beatae? Voluptas error, hic adipisci voluptatem dignissimos aut est quae deserunt vitae. Facilis numquam asperiores quam earum? Sunt, incidunt minima!
</p>

<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, similique beatae? Voluptas error, hic adipisci voluptatem dignissimos aut est quae deserunt vitae. Facilis numquam asperiores quam earum? Sunt, incidunt minima!
</p>

