/* You can add global styles to this file, and also import other style files */

.ebay {
    text-decoration: none;
    padding: 0.5rem;
    color: #000
  }
  
  .btn-ebay {
    text-decoration: none;
    border: .5px solid #333333;
  }
  